@charset "UTF-8";
/* CSS Document */



* {
	margin: 0;
	padding: 0;
    border: 0px;
	font-family: 'Outfit', sans-serif;
    overflow-x: hidden;
    
}

nav {
    overflow-x: hidden;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #fff9f2;
  }
  
  .nav-links {
    flex: 1;
    text-align: right;
  }
  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  
  .nav-links ul li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav-links ul li:hover::after {
    width: 100%;
  }
  
  nav .fas {
    display: none;
  }
  
  .contact {
    border: solid 3px #9da5ff;
    border-radius: 5px;
    background: #c1c6ff;
  }
  
  .contact:hover {
    background: #9da5ff;
    border-radius: 5px;
  }
  
  @media (max-width: 800px) {
    .nav-links ul li {
      display: block;
    }
  
    .nav-links {
      position: absolute;
      background: #fff9f2;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }
  
    nav .fas {
      display: block;
      color: #000;
      margin: 16px;
      font-size: 22px;
      cursor: pointer;
    }
    .nav-links ul {
      padding: 30px;
    }
  }

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    
}

.other-header {
  position: relative;
  overflow: hidden;
  text-align:center;
  background: linear-gradient(60deg, rgba(220,128,120) 0%, rgb(157, 165, 255) 100%);
  color:rgb(255, 259, 242);
  z-index: -1;
  width: 100%;
  margin-right:0;
  padding: 0;


}

.inner-header {
overflow: hidden;
  width:100%;
  padding: 0;
  z-index: -1;
  text-align:left;
  margin-left: 10%;
  margin-right:0;
  display: flex;

}



.waves {
  position:relative;
  overflow: hidden;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
  z-index: -1;
  
}

.content {
    
  height:100%;
  width: 100%;
  background-color: rgb(255, 255, 255);

}


/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
   
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    min-height:30vh;
  }

}


.time-location-container {
    text-align: left;
    margin-top: 6%;
    z-index: 10;
    color: black;
    flex-wrap: wrap;
    padding: 5%;
}

.location {
    display: flex;
    z-index: 10;
    font-size: 2.9vh;

}

.time {
    display: flex;
    z-index: 10;
    padding-left: 7px;
    font-size: 2.9vh;
}

.title {
    padding-bottom: 50px;
    text-align: left;
    line-height: 1;
    font-size: 5.3vh; 

}

.title span {
    color:rgb(45, 50, 118)
}



.info {
    z-index: 10;
    margin-top: 0;
    padding: 40px;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 10%;
    
}

.title-info {
    text-align: left;
    font-size: 6vh;
    font-weight: 300;
}

.title-info span {
    font-weight: bold;
    color:rgb(45, 50, 118);
}


.description {
    text-align: left;
    line-height: 1.5;
    font-size: 2.2vh;
}

.how-it-works-info {
    flex-wrap: wrap;
    width: 60%;
    margin-left: 10%;
    padding: 40px;
    line-height: 1.5;
    font-weight: 300;
}
.how-it-works-info span {
    color:rgb(45, 50, 118);
    font-weight: bold;

}

.how-it-works-title {
    color:rgb(157, 165, 255);
    font-size: 3vh;
    text-align: left;
    
}

.how-it-works-paragraph {
    font-size: 2.2vh;
    text-align: left;

} 


.feelings {
    text-align: center;
}


.reach-out {
    text-align: center;
    font-size: 1.8vh;
    background-color:rgb(157, 165, 255, 0.3);
    margin-bottom: 5%;
    padding: 20px;

}


.content {
    flex: 1 0 auto;
  }
  
  .flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .footer-icons {
    margin-right: auto;
  }
  .footer-col ul {
    list-style: none;
  }
  
  .footer {
    box-sizing: border-box;
    padding: 5%;
    margin-top: auto;
    min-width: 100%;
    max-width: 100%;
    padding-top: 5%;
    background-color: #fff9f2;
  }
  
  .footer-col {
    width: 15%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  
  .footer-icons h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    font-weight: 600;
    position: relative;
  }
  
  .footer-icons h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
    font-weight: 300;
    position: relative;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 18px;
  
    color: #333;
    text-decoration: none;
    font-weight: 300;
  
    display: block;
    transition: all 0.3s ease;
  }